.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars
config
.databricks
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.DS_Store
.idea/
*.iml
out/
logs/
*.log
.env
.env.*local
.vscode
.databricks/bundle/states/